$container-width: 1350px;
$container-padding: 0 15px;

$font-main: "HalvarBreit", sans-serif;
$font-accent: "EurostileRound", sans-serif;


$page-bg: #101010;
$head-bg: #1a191b;
$text-color: #ffffff;
$bg-btn: #222123;
$accent: #0130ad;

%flex-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}