.social {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &__link {

    &:hover {
      .social__icon path {
        fill: $accent;
      }
    }
  }

  &__icon {
    transition: fill 0.3s linear;
  }


}